.logo{
    width: 6em;
    height: 6em;
}
.nav-link{
    font-size: medium;
    margin: 5px 0px;
    color: rgb(0, 0, 51);
    text-decoration: none;
    position: relative;
    margin-right: 3em;
    transition: transform 0.3s ease-in, background-color 0.3s ease-in;
}
.nav-link:hover{
    transform: scale(1.2);
    
    background-color: rgb(0, 0, 51);
    
}
.navbar-nav a:hover{
    color: white;
}


html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.about {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    padding: 40px;
}

.about-content {
    display: flex;
    align-items: center; 
    gap: 5vw;
    max-width: 70%;
}

.about-logo {
    width: 15em;
    height: 15em;
}

.main-content {
    text-align: justify;
    line-height: 3rem;
    max-width: 60%;
}


/* Footer Styling */
footer {
    background-color: rgb(0, 0, 51);
    color: white;
    padding: 40px 10%;
    text-align: center;
    font-family: Arial, sans-serif;
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}


.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.footer-link{
    font-size: medium;
    margin: 5px 0px;
    color: white;
    text-decoration: none;
    position: relative;
    margin-right: 3em;
    transition: transform 0.5s ease-in, background-color 0.5s ease-in;
}

.footer-link:hover{
    transform: scale(1.1);
    color: #FFB602;
}

.footer-link:after {
    content: '';
    width: 100%;
    height: 1px;
    background-color:  white;
    position: absolute;
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.4s ease-in-out;
    transform-origin: start;
}

.footer-link:hover:after {
    transform: scaleX(1.1);
}


.contact-section p {
    margin: 5px 0;
    font-size: 16px;
}

.contact-section{
    display: flex;
    flex-direction: column;
}
.contact-section a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.contact-section a:hover {
    color: #FFB602;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-links {
        margin-bottom: 15px;
    }
}