body{
    margin: 0;
    padding: 0%;
    height:fit-content;
    display:grid;
    place-items: center;
}
main{
    margin-top: 30px;
    width: 90%;
    height: 100%;
    display: flex;
    gap: 10px;
    height:fit-content;
}

.room-info{
    width: 50%;
    border: 2px;
    background-color:rgb(67 67 89);
    border: 2px solid #FFB602;
    border-radius: 0 20px 20px 0;
    padding:20px;
}

.room-info form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 70%;
    justify-content: center;
}

.room-info label{
    font-size: 15px;
    color: white;
}

.room-info select{
    width: 100%;
    padding:5px;
    
}
.room-info button{
    width:100%;
    border: none;
    background-color: #FFB602;
    color: rgb(0, 0, 51);
    padding:8px;
    border-radius: 5px;
    margin-top: 10px;
}

.room-image{
    width: 50%;
    overflow:hidden;
}

.about-room{
    color: white;
    /* display:grid;
    grid-template-columns: repeat(2,1fr); */
    gap: 5px;
    margin-bottom:20px
}

#amount{
    color: green;
    font-size: large;
    font-weight: bold;

}

.image-class{
    height: 100%;
    border-radius: 20px 0px 0px 20px;
}

.nav-bar{
    width: 100%;
    height: 10vh;
    background-color: rgb(0, 0, 51);
    margin: 0;
    padding: 5px;
    color: white;
}

.nav-bar nav h1 {
    padding-top: 10px;
}