.first-div {
    background-image: url("../assets/hotel-background.png");
    background-size: cover;
    width: 100%;
    height: 100vh;
    padding: 20px;
    overflow: hidden;
    background-clip: content-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-input {
    width: 50%;
    padding: 13px;
    border-radius: 25px 0px 0px 25px;
}

#search-button {
    background-color: #FFB602;
    padding: 13px;
    border: none;
    border-radius: 0 25px 25px 0;
    color: rgb(0, 0, 51);
}

#search-button:hover {
    background-color: rgb(0, 0, 51);
    color: #FFB602;
    transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
}

.items-div {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;

}

/* footer */
footer {
    background-color: rgb(0, 0, 51);
    color: white;
    padding: 40px 10%; /* زِدّ القيم هنا لتوسيع الفوتر */
    text-align: center;
    font-family: Arial, sans-serif;
    min-height: 150px; /* ارتفاع الفوتر */
}


.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-links a {
    color: #FFB602;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    transition: color 0.3s ease-in-out;
}

.footer-links a:hover {
    color: white;
}

.contact-section p {
    margin: 5px 0;
    font-size: 16px;
}

.contact-section a {
    color: #FFB602;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.contact-section a:hover {
    color: white;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-links {
        margin-bottom: 15px;
    }
}
