.logo{
    width: 6em;
    height: 6em;
}
.nav-link{
    font-size: medium;
    margin: 5px 0px;
    color: rgb(0, 0, 51);
    text-decoration: none;
    position: relative;
    margin-right: 3em;
    transition: transform 0.3s ease-in, background-color 0.3s ease-in;
}
.nav-link:hover{
    transform: scale(1.2);
    background-color: rgb(0, 0, 51);
}
.navbar-nav a:hover{
    color: white;
}

.first-div {
    background-image: url("../assets/hotel-background.png");
    background-size: cover;
    width: 100%;
    height: 100vh;
    padding: 20px;
    overflow: hidden;
    background-clip: content-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-input {
    width: 50%;
    padding: 13px;
    border-radius: 25px 0px 0px 25px;
}

#search-button {
    background-color: #FFB602;
    padding: 13px;
    border: none;
    border-radius: 0 25px 25px 0;
    color: rgb(0, 0, 51);
}

#search-button:hover {
    background-color: rgb(0, 0, 51);
    color: #FFB602;
    transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
}

.items-div {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;

}
.card-image{
    height: 25vh;
}
.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover{
    cursor: pointer;
    
    transform: scale(1.08);
    box-shadow: 0px 0px 10px 2px grey;
    
}
/* footer */
footer {
    background-color: rgb(0, 0, 51);
    color: white;
    padding: 40px 10%; /* زِدّ القيم هنا لتوسيع الفوتر */
    text-align: center;
    font-family: Arial, sans-serif;
    min-height: 150px; /* ارتفاع الفوتر */
}


.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.footer-link{
    font-size: medium;
    margin: 5px 0px;
    color: white;
    text-decoration: none;
    position: relative;
    margin-right: 3em;
    transition: transform 0.5s ease-in, background-color 0.5s ease-in;
}

.footer-link:hover{
    transform: scale(1.1);
    color: #FFB602;
}

.footer-link:after {
    content: '';
    width: 100%;
    height: 1px;
    background-color:  white;
    position: absolute;
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.4s ease-in-out;
    transform-origin: start;
}

.footer-link:hover:after {
    transform: scaleX(1.1);
}


.contact-section p {
    margin: 5px 0;
    font-size: 16px;
}

.contact-section{
    display: flex;
    flex-direction: column;
}
.contact-section a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.contact-section a:hover {
    color: #FFB602;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-links {
        margin-bottom: 15px;
    }
}
